body {
    font-family: 'Montserrat', sans-serif;
    background-color: #afafaf;
    padding: 40px;
}

.wrapper {
    display: flex;
    flex-direction: row-reverse;
    background-color: rgb(255, 255, 255);
    width: 1200px;
    margin: 0 auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Main content */

.main-content-title {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin: 0 0 8px 0;
}

/* About me */

.my-profession {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
    margin: 0 0 18px 0;
}

.my-name {
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    color: #ffffff;
    margin: 0 0 28px 0;
}

.my-descr {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
    width: 525px;
}

.about-me-container {
    margin: 40px 0 40px 0;
    padding: 44px 180px 44px 88px;
    background-color: #003592;
}

/* My Projects */

.project-item {
    position: relative;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;

    display: flex;
    justify-content: space-between;
}

.project-item::before {
    content: '-';
    position: absolute;
}

.project-list {
    padding: 0 0 0 18px;
    margin: 0;
    /* list-style-type: decimal; */
}

.projects-container {
    margin: 0 180px 52px 88px;
}

.project-item-descr {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}

.project-item-link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #005FFF;
    padding: 0px 0px 0px 15px;
}

/* Work Experience */

.work-experience-container {
    margin: 0 180px 44px 88px;
}

.work-experience-position {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin: 0;
}

.work-experience-place {
    margin-bottom: 16px;
}

.work-experience-company {
    color: #003592;
}

.work-period {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #666666;
    margin: 12px 0 8px 0;
}

.work-duties {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}

.work-duties-list {
    padding: 0 0 0 16px;
    margin: 0;
}

.work-period-wand {
    color: #000;
}

/* Education */

.education-container {
    margin: 0 180px 0 88px;
}

.education-university {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #003592;
    margin: 12px 0 12px 0;
}

.education-specialty {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin: 12px 0 12px 0;
}

.education-period {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #666666;
}

.education-period-wand {
    color: #000;
}

/* Sidebar */

.sidebar {
    width: 370px;
    background: #003592;
}

.my-photo {
    margin-top: 40px;
}

.contacts-container,
.tech-skills-container,
.soft-skills-container {
    margin: 48px 0 0 40px;
}

.sidebar-title {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #ffffff;
    margin-bottom: 8px;
}

.contacts-type {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
    margin-right: 8px;
}

.contacts-item {
    margin: 0;
}

.contacts-number {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
}

.contacts-email {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
}

/* Skills */

.skills-list {
    margin: 0;
    padding: 0 0 0 16px;
}

.skills-list-item {
    color: #a3a3a3;
}

.skills-list-text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
}